* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    background-color: rgb(25, 33, 28);
}

.header {
    padding: 2rem;
    margin: 2rem auto;
    text-align: center;
}

.title {
    margin-bottom: 1rem;
}

.tribute {
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0 auto;
    align-items: center;
    padding: 0 0 0 1rem;
}

.tribute blockquote {
    text-align: center;
    font-size: 3rem;
}

.tribute img {
    max-width: 100%;
}

.bio {
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 40rem;
}

.bio h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
}

.bio p {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.bio hr {
    margin-top: 2rem;
}